body { 
    background-color: #EEE;
    color: #333;
    font-size: 17px;
    margin-bottom: 1em;
    font-family: Cambria, Georgia, serif;
} 

#page {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 1000px;
}

#content {
    width: 600px;
    float: left;
    padding: 2.5em;
    background-color: white;
    border: 3px solid #AAA;
}

#sidebar {
    float: right;
    width: 200px;
    padding-top: 3em;
}
#sidebar ul {
    list-style-type: none;
}

#page #footer {
    clear: both;
    color: #999;
    font-size: 10px;
}


p img {
    max-width: 36em;
}

code, pre {
    background-color: #EEF;
    border: 1px solid #DDF;
}

code { /* inline code */
    display: inline-block;
    margin: 1px;
    background-color: #EEF;
}

pre code { 
    /* code inside pre already has a border, doesn't need 2 */
    border: none;
    background-color: inherit;
    padding: 0.5em;
}

pre {
    overflow: auto; /* scrollbars instead of overflowing */
    width: 100%;
}


a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}

blockquote {
    display: block;
    color: gray;
    border-left: 2px solid gray;
    margin-left: 1em;
    padding-left: 1em;
}

nav ul { 
    list-style-type: none; 
    margin: 0;
}

nav a:hover {
    background-color: white;
}

article {
    display: block;
    margin-bottom: 3em;
}

p, pre, ul, ol, blockquote, .date, .subtitle, #tagcloud { 
    margin-bottom: 1.5em; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, serif;
    font-weight: bold;
}
h1 { 
    font-size: 1.7em; 
}
h2 { 
    font-size: 1.3em; 
    padding-bottom: 0.5em;
    margin-top: 1.5em;
}
h3 { 
    font-size: 1.2em; 
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}
.date, .subtitle {
    font-style: italic;
}
ul { 
    list-style-type: square; 
}
ol {
    list-style-type: decimal;
}
#older_post {
    float: right;
}
article h1 a {
    color: black;
}
article h1 a:hover {
    color: gray;
    text-decoration: none;
}

#aboutme {
    float: right;
    margin-top: 1em;
}

blockquote ul {
    list-style-type: none;
}
