---
skyblue: "#4247EB"
darkblue: "#2C309E"
teal: "#A0A2EB"
almostblack: "#141414"
lightgray: "#EBEBEB"
bluegray: "#6C6D9E"
---
body { 
    font-family: Corbel, Arial, Sans-Serif;
    background-color: {{ page.teal }};
    text-color: {{ page.almostblack }};
} 

a {
    text-color: {{ page.darkblue }};
}

.centre {
    width: 40em;
    margin: 1em auto;
    padding: 2em;
    background-color: {{ page.lightgray }};
}

code {
    display: inline-block;
    border: 1px solid {{ page.skyblue }};
    background-color: {{ page.teal }};
}

nav { margin: auto; }

nav ul { list-style-type: none; }

nav li {
    border: 1px solid black;
    padding: 0;
    margin: 0;
    float: left;
}

nav li a { 
    padding: 1em 5em 1em 1em;
    display: block;
}

nav li a:hover {
    background-color: {{ page.teal }};
}

#content {
    clear: both;
}

p { margin-top: 1em; margin-bottom: 1em; }
h1 { font-size: 2em; padding: 0.5em 0;}
h2 { font-size: 1.5em; padding: 0.5em 0.5em 0;}
h3 { font-size: 1.2em; }
