body { 
    background-color: #EEE;
    font-family: Corbel, Arial, Sans-Serif;
} 

.centre {
    width: 40em;
    margin: 0 auto;
}

h1.title {
    float:right;
}

p code {
    display: inline-block;
    padding: 1px;
}

p code, .highlight {
    border: 1px solid #DDF;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    background-color: #EEF;
}

.highlight {
    padding: 0.5em;
    overflow: auto;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
}

nav { padding: 2em 2em 0 2em; }

nav ul { 
    list-style-type: none; 
    margin: 0;
}

nav li {
    padding: 0;
    margin: 0;
    float: left;
}

nav a { 
    -moz-border-top-right-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    border-color: transparent;
    border-style: solid;
    padding: 0.5em;
    width: 7em;
    display: block;
}

nav a:hover {
    border-color: blue;
    background-color: white;
}

#content {
    padding: 1em 2em 2em 2em;
    background-color: white;
    clear: both;
}

article {
    margin-bottom: 1em;
}

p, .highlight, ul { margin-top: 1em; margin-bottom: 1em; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
ul { list-style-type: circle; }
