      <a href="/tags/DNS" style="font-size:13.5px;">
        DNS
      </a>
      <a href="/tags/Java" style="font-size:13.5px;">
        Java
      </a>
      <a href="/tags/SEO" style="font-size:13.5px;">
        SEO
      </a>
      <a href="/tags/administration" style="font-size:13.5px;">
        administration
      </a>
      <a href="/tags/antinode" style="font-size:15.0px;">
        antinode
      </a>
      <a href="/tags/benchmarks" style="font-size:13.5px;">
        benchmarks
      </a>
      <a href="/tags/books" style="font-size:13.5px;">
        books
      </a>
      <a href="/tags/chemistry" style="font-size:13.5px;">
        chemistry
      </a>
      <a href="/tags/design+patterns" style="font-size:13.5px;">
        design patterns
      </a>
      <a href="/tags/dynamic+programming" style="font-size:13.5px;">
        dynamic programming
      </a>
      <a href="/tags/git" style="font-size:15.0px;">
        git
      </a>
      <a href="/tags/java" style="font-size:13.5px;">
        java
      </a>
      <a href="/tags/javascript" style="font-size:21.0px;">
        javascript
      </a>
      <a href="/tags/json" style="font-size:13.5px;">
        json
      </a>
      <a href="/tags/links" style="font-size:18.0px;">
        links
      </a>
      <a href="/tags/minix" style="font-size:13.5px;">
        minix
      </a>
      <a href="/tags/mintty" style="font-size:13.5px;">
        mintty
      </a>
      <a href="/tags/node.js" style="font-size:18.0px;">
        node.js
      </a>
      <a href="/tags/open+source" style="font-size:15.0px;">
        open source
      </a>
      <a href="/tags/phone" style="font-size:13.5px;">
        phone
      </a>
      <a href="/tags/profiling" style="font-size:13.5px;">
        profiling
      </a>
      <a href="/tags/regular+expressions" style="font-size:13.5px;">
        regular expressions
      </a>
      <a href="/tags/ruby" style="font-size:13.5px;">
        ruby
      </a>
      <a href="/tags/scaling" style="font-size:13.5px;">
        scaling
      </a>
      <a href="/tags/security" style="font-size:13.5px;">
        security
      </a>
      <a href="/tags/sqlite" style="font-size:13.5px;">
        sqlite
      </a>
      <a href="/tags/testing" style="font-size:16.5px;">
        testing
      </a>
      <a href="/tags/vim" style="font-size:15.0px;">
        vim
      </a>
      <a href="/tags/virtualization" style="font-size:13.5px;">
        virtualization
      </a>
