<!doctype html >
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"><!--<![endif]-->
<head>
  <title>{{ page.title }} | Mark Hansen</title>
	<meta charset="utf-8">	
  <meta name="description" content="{{ page.description }}">
	<meta name="author" content="Mark Hansen">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
	<link rel="profile" href="http://gmpg.org/xfn/11" />
  <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/mhansen"
        title="Mark Hansen's Blog">
 	<!-- Load the basic skeleton and plugin CSS, then the main theme stylesheet -->   
  <link rel="stylesheet" media="all" href="/assets/stylesheets/base.css" />
	<link rel="stylesheet" media="all" href="/assets/stylesheets/skeleton.css" />
	<link rel="stylesheet" media="all" href="/assets/stylesheets/comments.css" />
	<link rel="stylesheet" media="all" href="/assets/stylesheets/buttons.css" />
	<link rel="stylesheet" media="all" href="/assets/stylesheets/superfish.css" />
	<link rel="stylesheet" media="all" href="/assets/stylesheets/flexslider.css" />
	<link rel="stylesheet" media="all" href="/assets/javascripts/chosen/chosen.css" />
	<link rel="stylesheet" media="all" href="/assets/javascripts/prettyPhoto/css/prettyPhoto.css" />
	<link rel="stylesheet" media="all" href="/assets/stylesheets/styles.css" />
  <link rel="stylesheet" href="/assets/stylesheets/typography-serif.css" />
  <!--<link rel="stylesheet" href="/assets/stylesheets/typography-sans.css" />-->
  <!--<link rel="stylesheet" href="/assets/stylesheets/skin-dark.css" />-->
  <link rel="stylesheet" href="/assets/stylesheets/skin-clean.css" />
  <link rel="stylesheet" href="/assets/stylesheets/syntax.css">
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>

<div class="super-container full-width" id="section-header">
	<div class="container">			
		<header>
		<div class="sixteen columns">
      <a href="/" title="Mark Hansen">
        <h1 id="logo" style="margin-top: 40px; margin-bottom: 30px;">
          Mark Hansen's Blog
        </h1>
      </a>
		</div>
		</header>
	</div>
</div>

<div class="super-container full-width main-content-area" id="section-content">
	<div class="container">		
		<div class="eleven columns content">
      {{ content }}
    </div>
		<div class="five columns sidebar">
			<div class="widget">
				<form action="#">
				<input class="sidebar-search" type="text" id="regularInput" value="Search this site..." />
				</form>
			<hr class="half-bottom" />
			</div>

      <div class="widget">
        <h3>About</h3>
        <p>
        Hi, I'm Mark Hansen, and this is my personal blog.
        </p>
        <p>
        I live in Hamilton, New Zealand, where I study Computer Science. 
        </p>
        <p>
        Thanks for visiting!
        </p>
        <p>
        Email: <a href="mailto:mark@markhansen.co.nz">mark@markhansen.co.nz</a>
        </p>
        <hr class="half-bottom" />
      </div>
			
			<div class="widget">
        <h3>My Projects</h3>
        <ul>
          <li><a href="http://wheresmytaxes.co.nz/">Where Are My Taxes?</a></li>
          <li><a href="http://wirelessmap.markhansen.co.nz/">NZ Wireless Map</a></li>
          <li><a href="http://github.com/mhansen/antinode">Antinode, a Javascript Web Server</a></li>
          <li><a href="http://markhansen.co.nz/iphone-as-numberpad/">iPhone Numberpad</a></li>
          <li><a href="http://github.com/mhansen/node-jslint">JSLint on Node.JS</a></li>
          <li><a href="http://github.com/mhansen/node-XMLHttpRequest">XMLHttpRequest on Node.JS</a></li>
        </ul>
        <hr class="half-bottom" />
			</div>
			
			<div class="widget">
        <h3>Accounts</h3>
        <ul>
          <li><a href="https://plus.google.com/111867687848636271315" rel="me">Google+</a></li>
          <li><a href="http://github.com/mhansen">Github</a></li>
          <li><a href="http://news.ycombinator.com/threads?id=mhansen">Hacker News</a></li>
        </ul>
        <hr class="half-bottom" />
			</div>

      <div class="widget">
        <h3>Tag Cloud</h3>
        <div> {% include tagcloud.html %} </div>
        <hr class="half-bottom" />
      </div>

      <div class="widget">
        <a href="/archive.html"><h3>Archive</h3></a>
        <ul>
          {% for post in site.posts limit:20 %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
          {% endfor %}
          <li><a href="/archive.html">More...</a></li>
        </ul>
        <hr class="half-bottom" />
      </div>

      <div class="widget">
        <h3>Meta</h3>
        Site last updated {{ site.time | date: "%d %b %Y" }}<br>
        Compiled from <a href="http://github.com/mhansen/jekyll-blog">source</a>
        by <a href="http://jekyllrb.com/">Jekyll</a><br>
        Hosted on a <a href="http://linode.com/">Linode</a> VPS
      </div>

		</div>
	</div>
</div>

<div class="super-container full-width" id="section-sub-footer">		
	<div class="container">
		<div class="sixteen columns">	
				<span class="copyright">&copy; Mark Hansen</span>
				<ul class="social">
					<li><a href="https://plus.google.com/111867687848636271315"><img src="/assets/images/theme/social-icons/google_plus_32.png" alt="google" title="Google+" /></a></li>
					<li><a href="http://feeds.feedburner.com/mhansen"><img src="/assets/images/theme/social-icons/rss_32.png" alt="rss" title="RSS" /></a></li>
				</ul>
				<span class="colophon">Powered by Jekyll.</span>
		</div>
	</div>
</div>

<script src="/assets/javascripts/jquery-1.6.2.min.js"></script>
<script src="/assets/javascripts/tabs.js"></script>	
<script src="/assets/javascripts/modernizr.custom.34113.js"></script>
<script src="/assets/javascripts/jquery.tipsy.js"></script>
<script src="/assets/javascripts/jquery.prettyPhoto.js"></script>	
<script src="/assets/javascripts/jquery.hoverIntent.js"></script>		
<script src="/assets/javascripts/superfish.js"></script>
<script src="/assets/javascripts/supersubs.js"></script>
<script src="/assets/javascripts/chosen/chosen.jquery.js"></script>
<script src="/assets/javascripts/jquery.flexslider-min.js"></script>	
<script src="/assets/javascripts/filterable.pack.js"></script>
<script src="/assets/javascripts/skeleton-key.js"></script>
<script>$(".chzn-select").chosen();</script>

<script src="http://static.getclicky.com/js"></script>
<script>clicky.init(236155);</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/236155ns.gif" /></p></noscript>

</body>
</html>
