---
layout: default
---
<h2 class="title">
  <a href="{{ page.url }}"><span>{{ page.title }}</span></a>
</h2>
<hr class="half-bottom">
<div class="date"> 
  {{ page.date | date_to_long_string }}
</div>
<hr>

<div class="post excerpt clearfix">	
  {{ content }}
</div>
<br>
<hr class="remove-top">
<div id="disqus_thread"> </div>
<script type="text/javascript" src="http://disqus.com/forums/markhansen/embed.js"></script>
<noscript><a href="http://disqus.com/forums/markhansen/?url=ref">View the discussion thread.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span> </a>
