---
layout: default
---
<div id="post">
  <h1>{{ page.title }}</h1>
  {{ content }}
  <em>Posted {{ page.date | date_to_long_string }} under {{ page.categories | join: ', ' }}.</em>

  <!-- start disqus !-->

  <div id="disqus_thread"> </div>
  <script type="text/javascript" src="http://disqus.com/forums/markhansen/embed.js"></script>
  <noscript><a href="http://disqus.com/forums/markhansen/?url=ref">View the discussion thread.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span> </a>

  <!-- end disqus !-->
</div>
